/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  padding: 0px;
  margin: 0px;
}

nav {
  display: block;
  width: 100%;
  padding: 15px 0px;
  background-color: rgba(123, 14, 188, 0.2);

  ul li {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    display: inline;
    margin: 10px;
    font-size: 20px;
  }
}

.content {
  padding: 10px;

  form label,
  form textarea {
    display: block;
    margin: 5px 0px;
  }

  form textarea {
    width: 400px;
    height: 150px;
  }

  form input {
    width: 400px;
  }
}